.truncate {
    display:inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcements-filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline;
}

.announcements-filters li, .announcements-filters .selected li  {
	display: inline;
	border-radius: 2px;
	padding: 2px 5px 2px 5px;
}

.announcements-filters .selected li {
	background-color: red;
	color: #FFFFFF;
}

.announcements-filters li:hover {
	background-color: red;
	color: #FFFFFF;
	cursor: pointer;
}

.pre-announcements-favourite {
    display: inline-block;
    background: url('../img/favourite-icon.png') no-repeat top left;
    background-size: 17px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
}

.pre-announcements-favourite:hover,
.pre-announcements-favourite.selected {
    background: url('../img/favourite-icon-selected.png') no-repeat top left;
    background-size: 17px;
    height: 17px;
    width: 17px;
}